.food-display{
    margin-top: 30px;
}
.food-display h2{
    font-size: max(2vw,24px);
    font-weight: 600;
}
.food-display-list{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(240px,1fr));
    margin-top:30px;
    gap:30px;
    row-gap: 50px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px; /* Adjust this value according to your layout */
  }
  
  .container .food-display {
    text-align: center;
  }
  
  .container .food-display h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .container .food-display .food-display-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Display four items in one row */
    gap: 20px; /* Adjust gap between grid items */
    margin-top: 20px; /* Adjust this value according to your layout */
  }
  
  /* Style for FoodItem component */
  /* You can define styles for FoodItem component here if needed */
  